*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f4f9ff;

}



.app-bar{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}
.app-bar ul{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    align-items: center;
}
.app-bar ul title{
    list-style: none;
    width: 0px;
}
.app-bar ul li{
    list-style: none;
}
.app-bar ul li a{
    text-decoration: none;
   
    color: #4d4b4b;
    padding: 0 20px;
}
.app-bar ul #title a h1{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Bitter', serif;
    font-weight: bold;
    color: #444242;
    padding: 0 20px;
}



.app-bar ul #search-field{
    width: 100%;
}
.app-bar ul #search-field input{
    padding: 0 50px;
    color: rgb(113, 113, 117);
    font-weight: normal;
    font-size: 13px;
    font-family: 'Bitter', serif;
    display: flex;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border-width: 0px;
    outline: none;
    background-color: #f4f9ff;
    background-repeat: no-repeat;
    background-image: url("icons/loupe.png");
    background-size: 20px;
    background-position: left;
    background-position-x: 15px;
    

}


.app-bar ul #user-info {
    width:200px;
}
.app-bar ul #user-info a{
    margin-left: 20px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-flex;
}
.app-bar ul #user-info a div {
    background-color: #4285f4;
    border-radius: 450%;
    width: 30px;
    height: 30px;
}
.app-bar ul #user-info a p {
    margin-left: 10px;
    align-self: center;
    color: rgb(58, 58, 61);
    font-weight: normal;
    font-size: 18px;
    font-family: 'Bitter', serif;
    

}

.main{
    float: left;
    width: max-content;
}

#chose-category, #chose-doctor{
    margin: 30px;
    margin-bottom: 15px;
    color: rgb(58, 58, 61);
    font-weight: bold;
    font-size: 18px;
    align-self: start;
    font-family: 'Bitter', serif;
}


  ::-webkit-scrollbar{
      display: none;
  }
  .category {
      width: 100%;
      margin-right: 20px;
  }
.category ul{
    display: flex;
    overflow-x: scroll;
    

}
.category ul li:hover{
    background-color: #4285f4;
    color: #eeecfe;
    cursor:pointer;
    
}
.category ul li:focus {
    
    outline: none;
    background-color: #4285f4;
    color: #eeecfe;
    cursor:pointer;
    
}


.category ul li{
    background-color: #ffffff;
    color: #4f51f6;
    margin-left: 35px;
    padding-top: 40px;
    padding-left: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 139px;
    height: 189px;
    list-style: none;
    border-radius: 30px;
    box-shadow: 1px 1px 12px 1px #444242;
}

.category ul li  div{
    background-size: 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.category ul li:nth-child(1)  div{
    background-image: url("icons/brain.png");
   
}
.category ul li:nth-child(2)  div{
    background-image: url("icons/ear.png");
   
}
.category ul li:nth-child(3)  div{
    background-image: url("icons/eye.png");
   
}
.category ul li:nth-child(4)  div{
    background-image: url("icons/heartbeat.png");
   
}
.category ul li:nth-child(5)  div{
    background-image: url("icons/stomach.png");
   
}
.category ul  li  h3{
    font-size: 18px;
    max-width: 110px;
    margin-top: 10px;
    margin-left: 5px;
    letter-spacing: 1px;
    overflow-wrap: break-word;
    font-family: 'Bitter', serif;

}


#doctor-details  {
    width: 95%;
    margin-left: 35px;
    border-radius: 20px;
    padding: 20px;
    padding-left: 60px;
    padding-top: 0;
    margin: 40px;
    background-color: #ffffff;
    text-align:center;
    box-shadow: 1px 1px 12px 1px #444242;
    overflow-y:scroll;
    height:450px;
    display:block;
    
}
#doctor-details  tr th{
    text-align: center;
    padding: 15px 0px 30px;
    font-family: 'Bitter', serif;
    color: #4285f4;
    font-size: 18px;
    padding-inline: 50px;
    position: sticky;
    top: 0;
    padding-top: 40px;
    background-color: #ffffff;
    
    
    
}


#doctor-details .table-data:hover{
    cursor:pointer;
    background-color:#eee8e8;
}
#doctor-details .table-data a{
    width: 100%;
    height: 100%;
    background-color: #696bf0;
}
#doctor-details  tr .name p{
    width: 130px;
    
    text-align: start;
    overflow-wrap: break-word;

}
#doctor-details  tr td{
    height: 40px;
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    overflow-wrap: break-word;
    font-family: 'Bitter', serif;
}
/* #doctor-details  tr .name{
    display:inline-block;

}
#doctor-details  tr .name p{
    display: block;
    float: right;
    padding-top: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Bitter', serif;
}
#doctor-details  tr .name div{
    float: left;
    width: 40px;
    height: 40px;
    
    background-color: #b3b5d4;
    border-radius: 20px;
    margin-right: 20px;
    
} */
#doctor-details  tr .time-for-today {
    display:inline-block;
    
}
#doctor-details  tr .time-for-today div {
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Bitter', serif;
    margin-top: 5px;
    margin-right: 15px;
    padding: 8px 15px 8px;
    color: #edeafe;
    background-color: #4285f4;
    float: right;
    width: 50px;
}



.side-bar{
    display: inline-block;
    box-shadow: 1px 1px 12px 1px #444242;
    background-color: #4285f4;
    margin: 15px 35px 20px;
    border-radius: 30px;
    width: 250px;
    height:fit-content;
    padding: 20px;
    
}
.side-bar #total-appointments{
    border-radius: 20px;
    height: 220px;
    box-shadow: 0px 0px 2px 0px #beb8b8;
    background-color: #4285f4;
    padding: 20px;
    box-shadow: 1px 1px 12px 1px #444242;
}

.side-bar #total-appointments h1{
    
    color: #f4f9ff;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 80px;
    font-family: 'Bitter', serif;

}


.side-bar #total-appointments h3{
    font-size: 27px;
    color: #f4f9ff;
    max-width: 200px;
    margin-top: 10px;
    margin-left: 5px;
    white-space: pre-line;
    letter-spacing: 1px;
    line-height: 1.5;
    overflow-wrap: break-word;
    font-family: 'Bitter', serif;
    

}


.side-bar #booking{
    border-radius: 20px;
    height: 530px;
    box-shadow: 0px 0px 2px 0px #beb8b8;
    background-color: #4285f4;
    padding: 20px;
    margin-top: 20px;
}
.side-bar #booking h2{
    
    font-size: 18px;
    letter-spacing: 1px;
    color: #f4f9ff;
    font-family: 'Bitter', serif;
    display: inline;
    
}
.side-bar #booking #booking-form{
    margin-top: 20px;
}
.side-bar #booking #booking-form input {
    height: 10px;
    width: 88%;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f4f9ff;
}
.side-bar #booking #booking-form label {
    color: #f4f9ff;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Bitter', serif;
    
}
.side-bar #booking #booking-form #size-box{
    height: 8px;

}

.side-bar #booking #booking-form select {
    appearance: none;
-webkit-appearance: none;
-moz-appearance: none;

    height: 40px;
    width: 102%;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding:10px;
    background-color: #f4f9ff;
    outline: none;
}
.side-bar #booking #booking-form #your-problem {
    height: 80px;
  
    
    
}
.side-bar #booking #booking-form #submit {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color:  #f4f9ff;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Bitter', serif;
}
.side-bar #booking #booking-form #submit:hover {
    background-color:  #b6d4f3;
    
}
