*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f4f9ff;
}



.app-bar{
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}
.app-bar ul{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    align-items: center;
}
.app-bar ul title{
    list-style: none;
    width: 0px;
}
.app-bar ul li{
    list-style: none;
}
.app-bar ul li a{
    text-decoration: none;
   
    color: #4d4b4b;
    padding: 0 20px;
}
.app-bar ul #title a h1{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Bitter', serif;
    font-weight: bold;
    color: #444242;
    padding: 0 20px;
}



.app-bar ul #search-field{
    width: 100%;
}
.app-bar ul #search-field input{
    padding: 0 50px;
    color: rgb(113, 113, 117);
    font-weight: normal;
    font-size: 13px;
    font-family: 'Bitter', serif;
    display: flex;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border-width: 0px;
    outline: none;
    background-color: #f4f9ff;
    background-image: url("icons/loupe.png");
    background-size: 20px;
    background-position: left;
    background-position-x: 15px;
    background-repeat: no-repeat;

}


.app-bar ul #user-info {
    width:200px;
}
.app-bar ul #user-info a{
    margin-left: 20px;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-flex;
}
.app-bar ul #user-info a div {
    background-color: #4285f4;
    border-radius: 450%;
    width: 30px;
    height: 30px;
}
.app-bar ul #user-info a p {
    margin-left: 10px;
    align-self: center;
    color: rgb(58, 58, 61);
    font-weight: normal;
    font-size: 18px;
    font-family: 'Bitter', serif;
    

}

.main{
    float: left;
    width: max-content;
}

.whelcome-message-container{
    width: 92%;
    height: 180px;
    background-color: #4285f4;
    margin: 30px;
    border-radius: 30px;
    box-shadow: 1px 1px 12px 1px #444242;

}
.whelcome-message-container .message{
    float: left;
    width: fit-content;
    margin: 30px 50px;  
}
.whelcome-message-container .message .whelcome-message{
    color: cornsilk;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Oleo Script', cursive;
    
}
.whelcome-message-container .message .doctor-name{
    
    margin-left: 10px;
    margin-top: 5px;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Oleo Script', cursive;
    color: cornsilk;

}
.whelcome-message-container .doctor-vector{ 
    width: 140px;
    height: 220px;
    background-image: url("icons/m-doctor.png");
    background-size: 100%;
    background-repeat: no-repeat;
    float: right;
    margin-right: 80px;
    position: relative;
    bottom: 40px;
}



#monthly-reports , #Upcoming-appointments-text{
    margin: 30px;
    color: rgb(58, 58, 61);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.5px;
    align-self: start;
    font-family: 'Bitter', serif;
}


  ::-webkit-scrollbar{
      display: none;
  }
  #reports{
      width: 100%;
      margin-right: 20px;
      margin-left: 10px;
      margin-bottom: 20px;
      
  }
  #reports ul{
    display: flex;
    overflow-x: scroll;
    

}


#reports ul li{
    background-color: #ffffff;
    color: #4285f4;
    margin-left: 35px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 185px;
    height: 145px;
    list-style: none;
    border-radius: 30px;
    box-shadow: 1px 1px 12px 1px #444242;
}

#reports ul li  h1{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Bitter', serif;

}

#reports ul  li  h3{
    font-size: 20px;
    max-width: 150px;
    margin-top: 10px;
    margin-left: 5px;
    white-space: pre-line;
    letter-spacing: 1px;
    line-height: 1.5;
    overflow-wrap: break-word;
    font-family: 'Bitter', serif;

}




#Upcoming-appointments  {
    width: 95%;
    margin-left: 35px;
    border-radius: 20px;
    padding: 20px;
    padding-right: 0px;
    padding-left: 60px;
    padding-top: 0;
    margin: 40px;
    background-color: #ffffff;
    text-align:center;
    box-shadow: 1px 1px 12px 1px #444242;
    overflow-y:scroll;
    height:450px;
    display:block;

    
    
}
#Upcoming-appointments  tr th{
    text-align: center;
    padding: 15px 0px 30px;
    font-family: 'Bitter', serif;
    color: #4285f4;
    background-color: #ffffff;
    font-size: 18px;
    padding-inline: 45px;
    position: sticky;
    top: 0;
    padding-top: 40px;
    
}

#Upcoming-appointments tr td{
    padding-bottom: 30px;
    font-family: 'Bitter', serif;
    font-size: 18px;
    align-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    max-width: 80px;
    height: 30px;
 
}
#Upcoming-appointments tr .pAge{
    
    width: 20px;
    
    
 
}
#Upcoming-appointments tr .pGender{
    
    width: 20px;
    
    
 
}
#Upcoming-appointments tr .file div{
    display: flex;
    justify-content: center;

}
#Upcoming-appointments tr .file .pation-file, .add-file{
   width: 60px;
   height: 40px;
   line-height: 30px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    
}
#Upcoming-appointments tr .file .pation-file{
    background-image: url("icons/file.png");
}
#Upcoming-appointments tr .file .add-file{
    background-image: url("icons/add-file.png");
}
#Upcoming-appointments tr .file .add-file input{
    width: 40px;
   height: 40px;
   outline: none;
   display: block;
   opacity: 0;
}


#Upcoming-appointments tr .file div .add-file:hover{
    
    background-size: 40px;

 }
 #Upcoming-appointments tr .file div .pation-file:hover{
    
    background-size: 40px;

 }



.side-bar{
    display: inline-block;
    box-shadow: 1px 1px 12px 1px #444242;
    background-color: #4285f4;
    margin: 15px 35px 20px;
    border-radius: 30px;
    width: 250px;
    height:1060px;
    padding: 20px;
    
}
.side-bar #doctor-profile{
    border-radius: 20px;
    height: 480px;
    box-shadow: 0px 0px 2px 0px #beb8b8;
    background-color: #4285f4;
    padding: 20px;
}
.side-bar #doctor-profile #doctor-image{
    width: 200px;
    height: 235px;
    margin: auto;
    border-radius: 200px;
    background-position: center;
    position: relative;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: 300px;
    background-image: url("icons/doctor.png");

}
.side-bar #doctor-profile #doctor-details {
    margin-left: 10px;
    margin-top: 40px;
}
.side-bar #doctor-profile #doctor-details label{
    color: #e7eaee;
    font-family: 'Bitter', serif;
}
.side-bar #doctor-profile #doctor-details h3{
    margin:5px;
    color: #f4f9ff;
    font-family: 'Bitter', serif;
}

.side-bar #booking{
    border-radius: 20px;
    height: 490px;
    box-shadow: 0px 0px 2px 0px #beb8b8;
    background-color: #4285f4;
    padding: 20px;
    margin-top: 20px;
}
.side-bar #booking h2{
    
    font-size: 18px;
    letter-spacing: 1px;
    color: #f4f9ff;
    font-family: 'Bitter', serif;
    display: inline;
    
}
.side-bar #booking #booking-form{
    margin-top: 20px;
}
.side-bar #booking #booking-form input {
    height: 10px;
    width: 88%;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f4f9ff;
}
.side-bar #booking #booking-form label {
    color: #f4f9ff;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Bitter', serif;
    
}
.side-bar #booking #booking-form #size-box{
    height: 8px;

}

.side-bar #booking #booking-form select {
    appearance: none;
-webkit-appearance: none;
-moz-appearance: none;

    height: 40px;
    width: 102%;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding:10px;
    background-color: #f4f9ff;
    outline: none;
}
.side-bar #booking #booking-form #your-problem {
    height: 80px;
  
    
    
}
.side-bar #booking #booking-form #submit {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color:  #f4f9ff;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Bitter', serif;
}
.side-bar #booking #booking-form #submit:hover {
    background-color:  #b6d4f3;
    
}





